@charset "utf-8";
/* CSS Document */

h1 {
	text-align: center;
	padding-top:30px;
	color: black;
	font-family: roboto, sans-serif ;
	font-size: 30px;
	font-weight: 700;
}

h2 {
	text-align: center;
	/*padding-top:30px;*/
	color: black;
	font-family: roboto, sans-serif ;
	font-size: 25px;
	font-weight: 700;
	}

h3 {text-align: center;
	/*padding-top:30px;*/
	color: black;
	font-family: roboto, sans-serif ;
	font-size: 20px;
	font-weight: 700;
	text-decoration: none;
	}

h4 {text-align: center;
	/*padding-top:30px;*/
	color: black;
	font-family: roboto, sans-serif ;
	font-size: 18px;
	font-weight: 700;
	}

div.portifolio{
	
}

section.infos{
	margin-top: 40px;
}

section.infos a {
	text-decoration: none;
	
}